body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
.logo {
    font-size: 24px;
    color: #F9FAF8;
    
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    

}

li {
    list-style: none;
}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}


.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 50px;

}

.tittle {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.sub-tittle {
    font-size: 18px;
    color: #E5E7EB;
    

}
.button-menu {
    background-color: #3882F6;
    color: #E5E7EB;
    max-width: 100px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #F9FAF8;
  
    

}
button:hover {
    background-color: #E5E7EB;
    color: #1F2937;
    cursor: pointer;
    
}

.heroimg {
    height: 400px;
    width:auto;
    border-radius: 10%;
    display: flex;
}


.herotext {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 250px;
    
}
.hero {
        display: flex;
        gap: 120px;
        min-height: 600px;
        background-color: #1F2937;
        align-items: center;
        justify-content: center;
   }


.information {
    
    display: flex;
    min-height: 500px;
    background-color:#F9FAF8;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    gap: 50px;

}
.cards { 
    display: flex;
    justify-content:space-between;
    margin: 30px;
    flex:1;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;



}
.infoimg {
    height: 200px;
    width: 200px;
    border-radius: 10px;

}
.infotext {
    font-size: 18px;
    color: #1F2937;
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;

}
.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
 
    

}
.depoiments {
    background-color: #E5E7EB;
    min-height: 400px;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.autor {
    font-style: italic;
    font-weight: 700;
    margin-left: 300px;
}

.action {
    background-color: #F9FAF8;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}
.blue-box{
    display: flex;
    background-color: #3882F6;
    height: 200px;
    width: 1000px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
}
.blue-box-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.blue-box-tittle {
    font-size: 24px;
    
    font-weight:700;
}
.blue-box-subtittle {
    font-size: 20px;
    font-weight: 50;

}
.footer{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    height: 100px;
}
